@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL ================= */

body {
  @apply font-sans bg-white text-gray-800;
}
/* ================= LAYOUT ================= */

.container-custom {
  @apply max-w-7xl mx-auto px-6;
}

.section-padding {
  @apply py-24;
}